<form id="review-form" name="reviewForm" ng-submit="">

    <alert type="danger" ng-show="error">
    </alert>
    <h3>Leave a review for {{product.name}}</h3>
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="number" ng-model="review.rating" class="form-control" id="review-rating" placeholder="Enter Rating" min = "1" max = "5">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" ng-model="review.title" class="form-control" id="review-title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="content">Review Details</label>
        <input type="text" ng-model="review.content" class="form-control" id="review-content" placeholder="Enter your review">
    </div>
    <button class="btn btn-default" ng-click="submitReview()">Submit Review</button>
    <div ng-app="app" ng-controller="RatingController as rating" class="container">
</div>
</form>
