#home {

  margin: 0 auto;
  width: 90%;
  @include clearfix;

  .carousel {
    float: right;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    .carousel-inner {
      height: 80vh;
    }
    .carousel-control {
      background: none;
    }
    .carousel-indicators {
      display: none;
    }
    img {
      max-width: 80vw;
      display: block;
      margin: 0 auto;
    }
  }

}
