<div id="all-products-view">
  <span>
    <input type="text" class="form-control" placeholder="Search {{ title }}" ng-model="nameSearch"></input>
  </span>
 <div class="row">
   <div class="col-xs-3">
    <h3>Categories</h3>
    <a ng-click="displayAll()" ng-class="{ 'active-link' : main }">All</br></a>
    <a ng-click="productsByCategory(category.id, category.type_name)" ng-repeat="category in categories" ng-class="{ 'active-link' : category.type_name === title }">{{category.type_name}} </br></a>
   </div>
   <h2>{{ title }}</h2>
   <div class="col-xs-3" ng-repeat="product in products | filter: { name: nameSearch}">
     <a class="thumbnail link" ui-sref="product({id: product.id})">
       <img ng-src="{{ product.imageUrl }}">
       <div class="caption">
         <h5>
           <span>{{ product.name }}</span>
         </h5>
         <p>{{ product.dollarPrice | currency }}</p>
       </div>
     </a>
   </div>
 </div>
</div>
