<div class="row" id="single-item-page">
    <div class="col-xs-7">
        <h2>{{ product.name }}</h2>
        <div class="thumbnail"><img ng-src="{{ product.imageUrl }}"></img>
            <div class="caption">
                <small>{{ product.description }}</small>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="pricecard">
            <h4>Price: {{product.price | currency }}</h4>
            <p>Ships from and sold by {{ product.source }}</p>
            <p>Qty:</p>
            <select ng-model="quantity" ng-options="quantity for quantity in Range(1, product.quantity)" ng-init="quantity=1"></select>
            <button class="btn btn-success" type="submit" ng-click="addToCart(product.id, quantity)"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart</button>
        </div>
    </div>
</div>
<submit-review></submit-review>
