#single-item-page {
    .pricecard {
        padding-top: 20px;
        padding-left: 15px;
        padding-bottom: 20px;
        margin-left: 120px;
        border-left: 1px solid #bbbbbb;
    }

    .thumbnail {
      text-align: center;
    }

    img {
      width: 400px;
    }

}
