<table class="table" id="cart-page">
   <thead>
       <tr>
           <th>Product</th>
           <th>Price</th>
           <th>Quantity</th>
       </tr>
   </thead>
   <tbody>
       <tr ng-repeat="product in products">
           <td><img src="{{ product.imageUrl }}" /> {{ product.name }} {{ product.description}}</td>
           <td>{{ product.price | currency }}</td>
           <td>
           <select ng-model="quantity" ng-options="quantity for quantity in Range(1, product.quantity)" ng-init="quantity=getQuantity(product.id)"></select>
           </td>
       </tr>
   </tbody>
</table>
<button class="btn btn-success" ui-sref="">Checkout</button>
