#about {
    max-width: 100vw;
    height: 100vh;
    background: url('/img/flowers.jpg') no-repeat center;

  margin: 0 auto;
  @include clearfix;

  p {
    width: 80vh;
    padding-top: 20px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 300;
    color: white
  }

    img {
      max-width: 100%;
      height: 400px;
      display: block;
      margin: 0 auto;
    }
  }
